body
{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-image: url("https://c.pxhere.com/images/42/3f/0c18aae6e5d4742a677147e640f1-1418296.jpg!d");
}
.adminpan
{
	width: 800px;
	margin: auto;
}
a
{
	text-decoration: none;
}

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
  }

  .bton {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 20;
	-moz-border-radius: 20;
	border-radius: 20px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 10px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
  }
  
  .bton:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
  }
  .myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4cb9e0), color-stop(1, #cfd6bc));
	background:-moz-linear-gradient(top, #4cb9e0 5%, #cfd6bc 100%);
	background:-webkit-linear-gradient(top, #4cb9e0 5%, #cfd6bc 100%);
	background:-o-linear-gradient(top, #4cb9e0 5%, #cfd6bc 100%);
	background:-ms-linear-gradient(top, #4cb9e0 5%, #cfd6bc 100%);
	background:linear-gradient(to bottom, #4cb9e0 5%, #cfd6bc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb9e0', endColorstr='#cfd6bc',GradientType=0);
	background-color:#4cb9e0;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cfd6bc), color-stop(1, #4cb9e0));
	background:-moz-linear-gradient(top, #cfd6bc 5%, #4cb9e0 100%);
	background:-webkit-linear-gradient(top, #cfd6bc 5%, #4cb9e0 100%);
	background:-o-linear-gradient(top, #cfd6bc 5%, #4cb9e0 100%);
	background:-ms-linear-gradient(top, #cfd6bc 5%, #4cb9e0 100%);
	background:linear-gradient(to bottom, #cfd6bc 5%, #4cb9e0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfd6bc', endColorstr='#4cb9e0',GradientType=0);
	background-color:#cfd6bc;
}
.myButton:active {
	position:relative;
	top:1px;
}
.descrip
{
	background-color: rgba(9, 100, 122, 0.6);
	width: 700px;
	border-radius: 10px;
}
.additem
{
	padding-left: 50px;
	padding-top: 15px;
	background-color: rgba(9, 100, 122, 0.6);
	border-radius: 10px;
	padding-bottom: 5px;
}
.con
{
	width: 450px;
}
.info
{
	border-radius: 10px;
	background-color: rgba(160, 28, 10, 0.726);
	width : 450px;
	text-align: center;
}
.pan
{
	text-align: center;
	padding-bottom: 5px;
	border-radius: 10px;
	background-color: rgba(9, 100, 122, 0.6);
}